// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

body {
  background:$brand-secondary;
}
body {
  margin:0;
}
.row {
  margin-left:0;
  margin-right:0;
}
.row .row {
  margin-left:-15px;
  margin-right:15px;
}

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}
header.navbar {
    border-radius:0;
    border-top: 3px solid $brand-tertiary;
    margin-bottom:0;
}
header.main {
  background:#c35f1f;

  .navbar-brand {
    float: none;
    display: inline-block;
    margin: -2.8em auto .5em;
    text-align: center;
    display:block;

    .name {
      text-transform: uppercase;
      padding-top:.3em;
      color:#FFF;
      border-top:2px solid #FFF;
      font-size: 1.25em;
      letter-spacing: 1px;
      font-weight: 500;

      &:hover, &:focus {
        text-decoration: none;
        opacity:.5;
      }
    }
  }
}
main {
    padding:3em 0 2em;
    background:white;
  .main-container {

  }
}
section.partners {
    text-align: center;
    background:white;
    padding:3em 0;
}
footer.main {
  
  section.footer-main {
    color:white;
    text-align: center;
    padding:2em 0;
  }
  a {
    color:#2196f3;
    &:hover {
      color: darken(#2196f3, 10%);
    }
  }
}

.nav-tabs {
  > li > a,
  > li > a:focus {
    color:#666;
  }
}
@media (min-width: 768px) {
  .navbar-header {
      float: none;
  }
}
@media (max-width: 1200px) {
  header.main {
    .navbar-brand {
      .name {
        font-size:1em;
      }
    }
  }
}
@media (max-width: 990px) {
  header.main {

    .navbar-brand {
        margin-top: -2.3em;
      .name {
        font-size:18px;
      }
    }
  }
}
@media (max-width: 768px) {
  header.main {
    .navbar-brand {
        margin-top: -2.2em;
    }
  }
}
@media (max-width: 680px) {
  header.main {
    .navbar-brand {
        margin-top: -1.6em;
    }
  }
}
@media (max-width: 480px) {
  header.main {
    .navbar-brand {
        margin-top: -1.2em;
    }
  }
}

