// customisations specifically for APT

body {
	font-size:16px;

	p {
		font-weight: 300;
	}
	a {
		color:$brand-blue;
	}
}

.planning-framework-phase > .content > .field {
	padding:2em 0;
}

.field-collection-item--name-field-phase-steps {
	padding:1.5em;

	.field--name-field-step-title {
		font-size:2.5em;
		font-weight: 400;
	}
}
.region-header {
	nav {
 
		.menu.nav {

			right:0px;
			display: inline-block;
    		float: none;

			li a {
				padding:8px 12px 5px;
				border-bottom-left-radius: 2px;
				border-bottom-right-radius: 2px;
			}
		}

	}
}

	nav#block-useraccountmenu {
        float: right;
	    margin-top: -30px;
	    font-size: 0.9em;
	    height: 30px;
	    right: 30px;

		a {
			padding: 5px 10px;
    		background: $brand-tertiary;
    		color:white;

    		&:hover {
    			background: darken($brand-tertiary, 10%);
    			color:white;
    		}
		}
	}
	nav {
		text-align: center;
		height:50px;

		.menu.nav {

			display: inline-block;
    		float: none;
    	}
    }

.btn-flat {
	box-shadow: none;
}
table {
	margin-bottom:2em;

	&.home-table {
		border-spacing: 1em;
	    border-collapse: separate;

	    td {
	    	background:lighten($brand-primary, 10%);
	    	color:white;
	    	padding:1em;

	    	h3, p {
	    		color:white;
	    		margin:.5em 0;

	    		
	    	}
	    	a, a:hover {
    			color:white;
    		}

    		.btn {
    			background:$brand-tertiary;
    		}
	    }
	}

	&.planning-framework-table {

		td {
			padding:.5em 1em;
		}

		tr {
			td {
				border: 1px solid lighten($brand-primary, 10%);
				font-size:0.9em;
				p {
					padding-top:1em;
				}
				.btn {
	    			background:$brand-tertiary;
	    			color:white;
	    		}
			}
			td:nth-child(even){ 
				border:0px solid #000;
			}
		}

		tr:first-child {

			i {
				font-size:1.6em;
				text-align: center;
			}

			td:nth-child(odd){
				background:lighten($brand-primary, 10%);
				a {
					color:white;
				}
			}
		}
	}

	&.sector-guideline-table {

		width:100%;

		i {
			font-size:1.6em;
			text-align: center;
		}

		td {
			padding:1em;
			
			vertical-align: middle;
			a {
				padding:1em;
				color:$brand-primary;
				display:block;
				border:2px solid lighten($brand-primary, 30%);

				&:hover {
					background:$brand-primary;
					border:2px solid $brand-primary;
					color:white;
					text-decoration: none;
				}
			}
		}

		&.water-resources {
			td a {
				color:#3498db;
				border:2px solid lighten(#3498db, 30%);
				background:lighten(#3498db, 40%);
				&:hover {
					background:#3498db;
					border:2px solid #3498db;
					color:white;
				}
			}
		}
		&.coastal-risk {
			td a {
				color:#2ecc71;
				border:2px solid lighten(#2ecc71, 30%);
				background:lighten(#2ecc71, 40%);
				&:hover {
					background:#2ecc71;
					border:2px solid #2ecc71;
					color:white;
				}
			}
		}
		&.food-security {
			td a {
				color:#e74c3c;
				border:2px solid lighten(#e74c3c, 10%);
				background:lighten(#e74c3c, 30%);
				&:hover {
					background:#e74c3c;
					border:2px solid #e74c3c;
					color:white;
				}
			}
		}
	}

	&.green-box {
		tr td {
			padding-bottom:1em;
			padding-right:2em;
		}
	}

	tr td {
		vertical-align: top;
	

		p {
			margin-bottom:.5em;
		}
		&.v-middle {
			vertical-align: middle;

			
		}
		&.v-bottom {
			vertical-align: bottom;
		}
	}
}
.field--type-text-with-summary {
	hr {
		margin:1.5em 0;
	}
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: 1.2em;
	color:darken($vague-green, 30%);
	font-weight: 300;
}
.main-container {
	margin-left:auto;
	margin-right: auto;
}
.view .item-list {
	> ul {
		list-style-type: none;
		padding-left:0;
		margin:2em 0;

		> li {
		    width: 30%;
		    display: inline-block;
		    vertical-align: top;
		    margin-right: 3%;
		    border: 1px solid #ddd;
		    padding: 1em;

		    &:nth-of-type(3n+0) {
		    	margin-right:0;
		    }

		    &:nth-of-type(3n+1) {
		    	clear:left;
		    }

		    h2 {
		    	margin-top:0;
		    }
		}
	}
}

h1.page-header, h2.page-header, h3.page-header {
	text-transform: uppercase;
	text-align: center;
}



div.pass-crumbs {
	margin:1.5em 0;
	text-align: center;
	ul {
		display:inline-block;
	    list-style-type: none;
	    padding-left: 0;
	    overflow:hidden;

	    li {
		    display: inline-block;
		    float: left; 
		    
		    a {
		    	position: relative;
			    display: block;
			    float: left;
		    	background: lighten($brand-green, 20%);
		    	color: white;
		    	padding: .5em 0em .5em 2.8em;
		    	font-size: 1.2em;
    			font-weight: 500;
		    	transition: all 0s;
		    	-webkit-transition: all 0s;
		    	
		    	&:hover {
		    		background: $brand-green;
		    		text-decoration: none;
		    	}
		    }

		    &.active a {
		    	background: $brand-green;

		    	&:hover {
		    		text-decoration: none;
		    	}
		    }

		    a:after { 
				content: " "; 
				display: block; 
				width: 0; 
				height: 0;
				border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
				border-bottom: 50px solid transparent;
				border-left: 30px solid lighten($brand-green, 20%);
				position: absolute;
				top: 50%;
				margin-top: -50px; 
				left: 100%;
				z-index: 2; 
			}

			&.active a:after {
				border-left: 30px solid $brand-green;
			}

			a:hover:after {
				border-left: 30px solid $brand-green;
			}

			a:before { 
				content: " "; 
				display: block; 
				width: 0; 
				height: 0;
				border-top: 50px solid transparent;       
				border-bottom: 50px solid transparent;
				border-left: 30px solid white;
				position: absolute;
				top: 50%;
				margin-top: -50px; 
				margin-left: 2px;
				left: 100%;
				z-index: 1; 
			}

			&:last-child a{
				padding-right:1.3em;
				&:after {
					border:0px;
				}
			}
			&:first-child a {
				padding-left:1.3em;
			}
		}
	}
}

.green-box {
	td {
		h3 {
				margin-top:0;
			}
		a {
			padding:1.5em 1em;
			color:white;
			background:lighten($brand-green, 10%);
			display:block;

			
			p {
				font-weight:400;
			}

			&:hover{
				text-decoration: none;
				background:$brand-green;
			}
		}
	}
}

section.entity-cards {
	margin:2em 0;
	.entity {
		background:rgba(0,0,0,.05);
		padding-top:1em;
		padding-bottom:1.5em;
		float:left;
		height:100%;
		margin-bottom:1.5em;

		.thumb {
			text-align: center;
			padding-top:.75em;
			img {
				vertical-align: middle;
			}
		}
		.desc {
			p {
				font-size:0.9em;
			}
		}
	}
}

section.guidance-section {
	background: rgba(0,0,0,.05);
    padding: 1.5em 2em;

    tr:not(:first-child){
    	td {
    		padding-top:1em;
    	}
    }

    tr:last-child{
    	td {
    		border-bottom:0px solid rgba(0,0,0,0.05);
    	}
    }


    td {

    	border-bottom:1px solid rgba(0,0,0,0.05);

    	ul {
    		padding-left:2em;
    		li {
    			font-weight:300;
    			margin-bottom:0.5em;
    		}
    	}
    	p {
    		line-height: 1.1em;
    		margin-bottom:1em;
    	}
    	em {
    		color:rgba(0,0,0,.35);
    	}
    	a {
    		color:$brand-blue;
    	}
    }
}

.engaging-fund {

	padding-left: 3.5em;
    margin: 2em 0;

	li {
		padding-left:1em;
		margin-bottom:1em;
		font-size:1.1em;
	}
}

.view-entities {

	.form--inline {
		text-align: right;
		padding:0 15px;
	}
	.js-form-item-title {
		float:left;
	}

	.view-content {

		.views-row {
			font-weight:300;
			background: rgba(0,0,0,.05);
			padding:1.5em;
			margin:1em 1.5%;
			width: 47%;
    		float: left;

			&:first-child {
				clear:left;
			}

			&:nth-child(2n+1){
				clear:left;
			}
			
			.views-field {
				margin-bottom:1em;

				.field-content {
					ul {
						padding-left:2em;
						margin-bottom:0;
					}
					ol {
						padding-left:3em;

					}
				}

				&.views-field-field-logo {
					float:left;
					margin-left:0;
					max-width: 280px;
				}
				&.views-field-title {
					clear:both;
					font-size:1.6em;
					font-weight:500;
					line-height: 1.2em;
				}
				.views-label {
					color:black;
					font-weight:500;
					display:inline;
				}
				.views-field-field-project-value-threshold {
					display:inline;
					.views-label-field-project-value-threshold {
						
						font-weight:500;
					}
				}
				&.views-field-view-node {
					a {
						color:white;
						font-weight:500;
					}
					a:hover {
						text-decoration: none;
					}
					a:after {
						margin-left:.5em;
					    content: "\f138";
					    font-family: FontAwesome;
					    top:0;
					 }
				}
			}
		}
	}
}

.entity {

	font-weight: 300;

	.field--name-field-meta {
		float:right;
		padding:1.5em;
		max-width: 300px;
		background: rgba(0,0,0,.05);
		margin:0 0 1.5em 1.5em;

		.field--label {
			font-weight:400;
			text-transform: none;
			font-size:1em;
		}
		.field--name-field-templates-and-resources {
			.field--item p {
				font-size:0.9em;
				margin-top:.5em;
			}
		}
		a {
			color:$brand-blue;
		}
	}
	.field--name-field-logo {
		padding-bottom:1.5em;
		border-bottom:1px solid #ddd;
		margin-bottom:1.5em;
	}
	.field--type-text-long {
		margin-top:1.5em;
	}

	.field--label {
		font-size:1.15em;
		text-transform: uppercase;
		font-weight:400;
		margin-top:1.5em;
	}

	.field--item {
		table {
			tr {
				td {
					padding-right:1em;
				}
				td:first-child {
					min-width: 150px;
				}
			}
			margin-bottom:1em;
		}
	}
	p {
		margin: 1em 0 .5em 0;

		strong {
			font-weight: 400;
		}
	}

	.field--name-field-engagement-process {
		padding:1.5em;
		border:1px solid #ddd;

		.field--label {
			margin-top:0;
		}

		table {
			margin-bottom:.5em;

			tr {
				td:first-child{
					background:$brand-green;
					text-transform: uppercase;
					font-weight: 500;
					font-size:1.2em;
					color:white;
					width:220px;
					text-indent: -1.15em;
					padding-left:2em;
				}
				td {
					border:1px solid $brand-green;
					padding:1em;
					line-height: 1.1em;
					font-weight:400;

					em {
						font-size:0.9em;
						color:rgba(0,0,0,0.7);
					}
				}
			}
		}
	}

	.field--name-field-project-value-threshold, .field--name-field-env-soc-cat, .field--name-field-area-of-focus {
		display:none;
	}

}

.fund {

	.field {
		margin-bottom:2em;

		.field--label {
			font-size:1.15em;
			text-transform: uppercase;
			font-weight:400;
			margin:1em 0 0.5em;
		}

		table {
			font-weight:300;
			margin-bottom:0;

			td, th {
				padding:1em;
			}
			th {
				padding-top:0;
				font-weight: 500;
				vertical-align: bottom;
			}
			td {
				border-top:1px solid #ddd
			}
			td, th {
				&:first-child {
					padding-left:0;
				}
				&:last-child {
					padding-right:0;
				}
			}

			strong {
				font-weight: 500;
			}

		}
	}

	.field--name-field-current-projects {

		.field--item {
			padding:1.5em;
			background:rgba(0,0,0,.05);
		}
		
	}

	.field--name-field-fund-logo {
		float:right;
		margin-left:1.5em;
	}

	.field--name-field-templates-and-resources {
		padding:1.5em;
		border:1px solid #ddd;

		.field--label {
			margin-top:0;
		}
	}
}
.btn {
	box-shadow: none;
	border-radius:2px;
	padding-left:1.5em;
	padding-right:1.5em;

	&.btn-primary {
		background:$brand-blue;

		&:hover {
			background:darken($brand-blue, 10%);
		}
	}



	&.btn-xl {
		font-size:18px;
	}
}

// Left and right tabs.
.tabs-left,
.tabs-right {
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
    	box-shadow: none;
      	border-width:1px;
    }
	> .tab-content {   
	    box-shadow: none;
	    min-height:300px;
	}
}

.tabs-left,
.tabs-right {
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
		border: 1px solid #ddd;
		border-color: #ddd transparent #ddd #ddd;
		color:$brand-primary;
		background:white;
	}
	.nav-tabs > li > a { 
		border:1px solid transparent;
		box-shadow:none;
		font-size:1.1em;
		color:#222;
		transition:all 0s;
		background:rgba(0,0,0,.05);
		margin-bottom:5px;
	}
}


nav {
	ul.menu {
		&.dropdown-menu {
			background:$brand-tertiary;
			box-shadow: none;
			li {
				a {
					color:white;
				}
				a:hover {
					background:$brand-primary;
				}
			}
		}
		li.dropdown {
			&:hover {
				ul.menu {
					display:block;
				}
			}
		}
	}
}
main.home-page {

	padding:0;

	.page-header {
		display:none;
	}
	nav.tabs {
		position: absolute;
    	top: 100px;
	}
	.btn {
		border-radius:1px;
	}
	.home-banner {
		background-color:$vague-green;
		background-image:url(../images/home_banner.jpg);
		background-repeat: no-repeat;
		background-position: top center;
		background-size:cover;
		text-align: center;
		padding: 6em 0;

		h1 {
			font-size: 2.6em;
		    font-weight: 300;
		    color: white;
		    text-align: center;
		    border-bottom: 2px solid rgba(0,0,0,.2);
		    padding-bottom: .5em;
		    text-shadow: 0px 1px 5px rgba(0,0,0,.35);
		}
		h2 {
			display:inline;
			color:white;
			font-weight: 300;
			font-size:1.8em;

			i {
				color:$brand-primary;
				margin:0 .25em;
			}
		}
		.btn-white {
			background:white;
			color: darken($vague-green, 10%);
			margin-top:3em;
			font-weight:500;
		}
	}
	.home-two {
		background-color:$vague-green;
		
		.container >div {
			padding:3em 0 3em;
			color:white;
			text-align: center;

			h2 {
				margin-top:0;
				font-weight:500;
				color:darken($vague-green, 25%);
			}
		}
	}
	.home-three {
		.home-third {
			text-align: center;
			padding:3em 0 2em;

			h2 {
				margin-top:0;

				i {
					color:$vague-green;
					font-size:2em;
				}
			}
			h3 {
				a {
					color:darken($vague-green, 15%);
					
					&:hover {
						color:darken($vague-green, 30%);
					}
				}

			}
			a.btn {
				color:white;
				&:hover {
					background:darken($brand-blue, 15%);
				}
			}
		}
	}
	.home-four {
		.APT-link {
			text-align: center;
			margin:2em 0;
			padding:1em 3em 2em;

			background-color:rgba(0,0,0,.05);
			a.btn {
				color:white;
				&:hover {
					background:darken($brand-blue, 15%);
				}
			}
		}
	}
}
.form-required:after {
	background:none;
	content: "*";
	font-size:1.2em;
	vertical-align: top;
	color:red;
	font-weight:bold;
	margin-left:3px;
}
input, textarea, select {
	background: rgba(0,0,0,.02) !important;
}
.field--name-field-breadcrumbs {
	.field--item {
		display:inline-block;
		margin: 0 .35em 0 0;

		&:after {
			content: "\00bb";
			margin-left:0.5em;
		}
		&:last-child {
			a {
				cursor:default;
				color:darken($gray-lighter, 20%);

				&:hover {
					text-decoration:none;
				}
			}
			&:after {
				content: "";
			}
		}
	}	
}
@media screen and (max-width: 990px){
	.fund {

		.field--name-field-fund-logo {
			float:none;
			margin-left:0;
			text-align: center;

			.img-responsive {
				display:inline;
			}
		}
		.field {

			table tr {
				th, td{
					padding:1em 0;
				}
			}
		}
	}

}

.ol-popup {
	position: absolute;
	background-color: white;
	padding: 1.5em,;
	border-radius: 2px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.35);
	bottom: 48px;
	left: -200px;
	min-width: 240px;
	font-size:14px;

	h3 {
		margin-top:0;
	}
	h4 {
		margin:.75em 0 .25em;
	}
	ul {
		list-style-type: none;
		padding-left:0;

		li {
			line-height: 1.2em;
			margin-bottom:0.5em;
		}
	}
}
.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.ol-popup:after {
	border-top-color: white;
	border-width: 6px;
	left: 120px;
	margin-left: -6px;
}
.ol-popup:before {
	border-top-color: #fff;
	border-width: 5px;
	left: 120px;
	margin-left: -5px;
}
.ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 6px;
	right: 10px;
	color:#ccc;
}
.ol-popup-closer:after {
	content: "✖";
}
.ol-popup-closer:hover {
	color:$brand-blue;
	text-decoration: none;
}
.ol-control button {
    background-color: $brand-blue!important;
    &:hover {
    	background-color: darken($brand-blue, 10%)!important;
    }

}
.ol-control {
    background: transparent!important;
}


#popup-content{
	width: 400px;
	max-height: 300px;
	overflow-y: auto;
	overflow-x:hidden
}

.ol-popup:before {
	left: 200px;
}
.ol-popup:after {
	left: 200px;
}

.view-filters.form-group {
    display: block;
}


@media screen and (max-width: 780px){
	.region-navigation nav {
		height:auto;
	}
	.entity {

		.field--name-field-meta {
			float:none;
			max-width: none;
			margin-left:0;
		}
		.field--item {
			table {
				tr {
					td {
						padding-right:.5em;
					}
					td:first-child {
						min-width: 100px;
					}
				}
			}
		}

		.field--name-field-engagement-process { 
			table {
				margin-bottom:1em;
				tr {
					td{
						display:inline-block;
						width:100%;
					}
					td:first-child {
						width:100%;
					}
				}
			}
		}
	}
	.view-entities {

		.view-content {

			.views-row {
				.views-field {
					margin-left:0;
					&.views-field-field-logo {
						float:none;
						max-width: none;
						text-align: center;

						.img-responsive {
							display:inline;
						}
					}
				}
			}
		}
	}
	.fund {
		.field {
			table tr {
				th, td{
					display:inline-block;
					width:100%;
					border-top:0;
					padding-bottom:0;
				}
				th {
					display:none;
				}

				td:first-child {
					border-top:2px solid #ccc;
				}
				td:last-child {
					padding-bottom:1em;
				}

				&:nth-child(1) {
					td{
						border-top:0;
					}
				}
			}
		}
	}
}
.arrow-bar {
	display: inline-block;
	width:100%;

	a {
		font-size: 1.2em;
	    vertical-align: middle;
	    line-height: 2.4em;

		span {
			font-size: 2.4em;
		    line-height: 1em;
		    float: left;
		    margin-right:15px;
		}
	}
	a:hover {
		background:$brand-primary;
		color:white;
		text-decoration: none;
	}
	.arrow:before,
	.arrow:after {
		content:'';
	    display: inline-block;
		width:0;
		height:0;
		border:40px solid transparent;
	    vertical-align: middle;
	}
	.arrow:before {
		border-top-color: $brand-primary;
		border-bottom-color: $brand-primary;
		border-right-color: $brand-primary;
	}
	.arrow:after {
		border-left-color: $brand-primary;
	}
}
.footer-logos {
	a {
		padding:0 1.5em;
		&:hover {
			opacity:0.6;
		}
	}
}
@media screen and (max-width: 960px){

	.view-entities {

		.view-content {

			.views-row {
				width:100%;
				float:none;
				clear:both;
			}
		}
	}
}
@media (max-width: 1200px) {
	div.pass-crumbs ul li {
		display:block;
		float:none;
		width:100%;
	}
	.arrow-bar {
		display: inline-block;

		a {
			display: block;
		    width: 100%;
		    padding: .35em 1em;
		    text-align: center;
		    font-size:1.8em;
		    margin-bottom:.2em;

		    span {
		    	font-size:2em;
		    	float:none;
		    	vertical-align: middle;
				padding:0;
				margin-right:10px;
		    }
		}
		a:after {
			border:none;
		}

		&.affix {
			position:relative;
			top:0;
		}
	}
	div.pass-crumbs ul li a {
		padding:1em 2em;
	}
}


