{#

#}

<style>

.label-cfn {
    background-color: rgb(255, 134, 1);
    color: #fff;
}

.label .ACTIVE {
    background-color: rgb(255, 134, 1) !important;
    color: #fff !important;
}

.label .COMPLETE {
    background-color: #fff;
    color: #444;
}

#region_app .list-group-item{
    padding:3px;
    border:0;
}

#region_app li.result-item{
    border-bottom: 1px solid #ccc !important;
    margin-bottom: 10px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}

#results p{
    padding-bottom: 2px;
}

#loading{

}
</style>

{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
<header class="main">
  <div class="container">
    {# Header #}
      {% if page.header %}
        {% block header %}
          <div class="col-sm-12" role="heading">
            {{ page.header }}
          </div>
        {% endblock %}
      {% endif %}
  </div>
</header>
{# Navbar #}
{% if page.navigation or page.navigation_collapsible %}
    


  {% block navbar %}
    {%
      set navbar_classes = [
        'navbar',
        theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
        theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
      ]
    %}
    <header class="navbar navbar-default" id="navbar" role="banner">
      <div class="navbar-header container">
        <div class="row">
          {{ page.navigation }}
          {# .btn-navbar is used as the toggle for collapsed navbar content #}
          {% if page.navigation_collapsible %}
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          {% endif %}
        </div>
      </div>

      {# Navigation (collapsible) #}
      {% if page.navigation_collapsible %}
        <div class="navbar-collapse collapse">
          {{ page.navigation_collapsible }}
        </div>
      {% endif %}
    </header>
  {% endblock %}
{% endif %}

{# Main #}
{% block main %}
  <main role="main" class="row">
    <div class="main-container {{ container }} js-quickedit-main-content">


      {# Sidebar First #}
      {% if page.sidebar_first %}
        {% block sidebar_first %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endblock %}
      {% endif %}

      {# Content #}
      {%
        set content_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-sm-6',
          page.sidebar_first and page.sidebar_second is empty ? 'col-sm-9',
          page.sidebar_second and page.sidebar_first is empty ? 'col-sm-9',
          page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
        ]
      %}
      <section{{ content_attributes.addClass(content_classes) }}>

        {# Highlighted #}
        {% if page.highlighted %}
          {% block highlighted %}
            <div class="highlighted">{{ page.highlighted }}</div>
          {% endblock %}
        {% endif %}

        {# Breadcrumbs #}
        {% if breadcrumb %}
          {% block breadcrumb %}
            {{ breadcrumb }}
          {% endblock %}
        {% endif %}

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

        {# Help #}
        {% if page.help %}
          {% block help %}
            {{ page.help }}
          {% endblock %}
        {% endif %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}

          <script type="text/javascript">
            var theme_url = "{{ url('<front>') }}" + "themes/DST/";
          </script>
            


          <div id="region_app" class="container">
                <div id="loading" class="text-center">
                    <h4>Loading Data Please wait...</h4>
                    <div class="text-center">
                      <img src="/themes/DST/images/spinner.gif" alt="loading image"/>
                    </div>
                </div>
            
                <template v-show="show">
                <div class="col-md-3">
                    <h3>Filters</h3>
                    

                    <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#countries_facet">
                        Countries
                        </a>
                        </h3>
                      </div>
                      <div id="countries_facet" class="panel-collapse collapse ">
                          <div class="panel-body">
                            <ul class="list-group">
                                <li v-for="(item, index) in countries" class="list-group-item facet-item">
                                    <div class="checkbox">
                                        <label>
                                          <input v-model="item.selected" type="checkbox">  ${item.title}
                                        </label>
                                      </div>
                                   
                                </li>
                            
                            </ul>
                          </div>
                    </div>
                    </div>



                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#funds_facet">
                        Funds
                        </a>
                        </h3>
                      </div>
                      <div id="funds_facet" class="panel-collapse collapse in">
                          <div class="panel-body">
                            <ul class="list-group">
                                <li v-for="(item, index) in funds" class="list-group-item facet-item">
                                    <div class="checkbox">
                                        <label>
                                          <input v-model="item.selected" type="checkbox">  ${item.title}
                                        </label>
                                      </div>
                                   
                                </li>
                            
                            </ul>
                          </div>
                    </div>
                    </div>



                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#status_facet">
                        Project Status
                        </a></h3>
                      </div>
                      <div id="status_facet" class="panel-collapse collapse ">
                          <div class="panel-body">
                            <ul class="list-group">
                                <li v-for="(item, index) in statuses" class="list-group-item facet-item">
                                    <div class="checkbox">
                                        <label>
                                          <input v-model="item.selected" type="checkbox">  ${item.title}
                                        </label>
                                      </div>
                                   
                                </li>
                            
                            </ul>
                          </div>
                        </div>
                    </div>

                </div>




                </div>
                <div class="col-md-9">
                    <div class="row">
                        <h3>Map</h3>
                        <div id="projects-map"></div>
                        
                        <div id="popup" class="ol-popup">
                              <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                              <div id="popup-content"></div>
                        </div>
                      
                        
                    </div>
                    <div class="row">
                        <h3>Projects (${projectCount})</h3>
                        <ul class="list-group" id="results">
                            <li v-for="(item, index) in selected_projects" class="list-group-item result-item">

                                
                                    <a target="_blank" :href=project_data[item].url><strong>${project_data[item].name}</strong></a>
                                     - <small><span class="label label-default" :class=getLabelClass(project_data[item])>${project_data[item].status}</span></small>
                                 <br/>
                                 <span class="label label-cfn"><small>${project_data[item].fund}</small></span>
                                 <br/>
                                 <small>Countries: <strong>${project_data[item].countries}</strong></small></p>
                                

                            </li>
                        </ul>
                        
                    </div>
                </div>
                </template>
                {# <template v-show="!show"> #}
                   
                {# </template> #}
            
            
            



        </div>



        {% endblock %}
      </section>

      {# Sidebar Second #}
      {% if page.sidebar_second %}
        {% block sidebar_second %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endblock %}
      {% endif %}
    </div>
  </main>
{% endblock %}

{% if page.partners %}
  {% block partners %}
    <section class="partners" role="contentinfo">
          {{ page.partners }}
      </div>
    </section>
  {% endblock %}
{% endif %}

{% if page.footer %}
  {% block footer %}
    <footer class="main" role="contentinfo">
          {{ page.footer }}
      </div>
    </footer>
    <script type="text/javascript">
    (function() {
    var s = document.createElement("script");
    s.type = "text/javascript";
    s.async = true;
    s.src = '//api.usersnap.com/load/'+
            'c2fd4f0d-9372-4b27-adf8-27df575dab6b.js';
    var x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(s, x);
    })();
    </script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    
    
    

  {% endblock %}
{% endif %}
