{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
<header class="main">
  <div class="container">
    {# Header #}
      {% if page.header %}
        {% block header %}
          <div class="col-sm-12" role="heading">
            {{ page.header }}
          </div>
        {% endblock %}
      {% endif %}
  </div>
</header>
{# Navbar #}
{% if page.navigation or page.navigation_collapsible %}
    


  {% block navbar %}
    {%
      set navbar_classes = [
        'navbar',
        theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
        theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
      ]
    %}
    <header class="navbar navbar-default" id="navbar" role="banner">
      <div class="navbar-header container">
        <div class="row">
          {{ page.navigation }}
          {# .btn-navbar is used as the toggle for collapsed navbar content #}
          {% if page.navigation_collapsible %}
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          {% endif %}
        </div>
      </div>

      {# Navigation (collapsible) #}
      {% if page.navigation_collapsible %}
        <div class="navbar-collapse collapse">
          {{ page.navigation_collapsible }}
        </div>
      {% endif %}
    </header>
  {% endblock %}
{% endif %}

{# Main #}
{% block main %}
  <main role="main" class="row">
    <div class="main-container {{ container }} js-quickedit-main-content">


      {# Sidebar First #}
      {% if page.sidebar_first %}
        {% block sidebar_first %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endblock %}
      {% endif %}

      {# Content #}
      {%
        set content_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-sm-6',
          page.sidebar_first and page.sidebar_second is empty ? 'col-sm-9',
          page.sidebar_second and page.sidebar_first is empty ? 'col-sm-9',
          page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
        ]
      %}
      <section{{ content_attributes.addClass(content_classes) }}>

        {# Highlighted #}
        {% if page.highlighted %}
          {% block highlighted %}
            <div class="highlighted">{{ page.highlighted }}</div>
          {% endblock %}
        {% endif %}

        {# Breadcrumbs #}
        {% if breadcrumb %}
          {% block breadcrumb %}
            {{ breadcrumb }}
          {% endblock %}
        {% endif %}

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

        {# Help #}
        {% if page.help %}
          {% block help %}
            {{ page.help }}
          {% endblock %}
        {% endif %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}

          <script type="text/javascript">
            var theme_url = "{{ url('<front>') }}" + "themes/DST/";
          </script>
            


          <div id="resources-app">
             <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#stage1" aria-controls="stage1" role="tab" data-toggle="tab">
                <small>Stage 1</small>
                <br/>
                Planning For Engagement
                </a></li>
              <li role="presentation"><a href="#stage2" aria-controls="stage2" role="tab" data-toggle="tab">
                <small>Stage 2</small>
                <br/>
                Accessing Funds
                </a></li>
              <li role="presentation"><a href="#stage3" aria-controls="stage3" role="tab" data-toggle="tab">
                <small>Stage 3</small>
                <br/>
                Design and Implementation
                </a></li>
              
            </ul>

            <!-- Tab panes -->
            <div class="tab-content row-fluid">
              <div role="tabpanel" class="tab-pane active" id="stage1">
                <div class="list-group">
                  <div v-for="(item, index) in stage1" class="col-md-3" v-bind:class="item.node.resource_type | classname">
                    <div class="list-group-item">
                      <div class="type"><span>${item.node.resource_type}</span></div>
                      <div class="content">
                        <a :href="item.node.url" target="_blank"><h4>${item.node.title | truncate}</h4></a>
                      
                        <p>
                          <span class="tags">${item.node.field_tags}</span>
                        </p>
                        <p>
                          ${item.node.field_the_description | truncate} 
                          <a v-if="(item.node.url)" class="read-more" :href="item.node.url" target="_blank">Access Resource</a>
                          <strong v-else>Coming Soon</strong>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="stage2">
                <div class="list-group">
                  <div v-for="(item, index) in stage2" class="col-md-3" v-bind:class="item.node.resource_type | classname">
                    <div class="list-group-item">
                      <div class="type"><span>${item.node.resource_type}</span></div>
                      <div class="content">
                        <a :href="item.node.url" target="_blank"><h4>${item.node.title | truncate}</h4></a>
                      
                        <p>
                          <span class="tags">${item.node.field_tags}</span>
                        </p>
                        <p>
                          ${item.node.field_the_description | truncate} 
                          <a v-if="(item.node.url)" class="read-more" :href="item.node.url" target="_blank">Access Resource</a>
                          <strong v-else>Coming Soon</strong>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="stage3">
                 <div class="list-group">
                  <div v-for="(item, index) in stage3" class="col-md-3" v-bind:class="item.node.resource_type | classname">
                    <div class="list-group-item">
                      <div class="type"><span>${item.node.resource_type}</span></div>
                      <div class="content">
                        <a :href="item.node.url" target="_blank"><h4>${item.node.title | truncate}</h4></a>
                      
                        <p>
                          <span class="tags">${item.node.field_tags}</span>
                        </p>
                        <p>
                          ${item.node.field_the_description | truncate} 
                          <a v-if="(item.node.url)" class="read-more" :href="item.node.url" target="_blank">Access Resource</a>
                          <strong v-else>Coming Soon</strong>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>



            
          </div>


        {% endblock %}
      </section>

      {# Sidebar Second #}
      {% if page.sidebar_second %}
        {% block sidebar_second %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endblock %}
      {% endif %}
    </div>
  </main>
{% endblock %}

{% if page.partners %}
  {% block partners %}
    <section class="partners" role="contentinfo">
          {{ page.partners }}
      </div>
    </section>
  {% endblock %}
{% endif %}

{% if page.footer %}
  {% block footer %}
    <footer class="main" role="contentinfo">
          {{ page.footer }}
      </div>
    </footer>
    <script type="text/javascript">
    (function() {
    var s = document.createElement("script");
    s.type = "text/javascript";
    s.async = true;
    s.src = '//api.usersnap.com/load/'+
            'c2fd4f0d-9372-4b27-adf8-27df575dab6b.js';
    var x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(s, x);
    })();
    </script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    
    <script type="text/javascript">

    //Vue script here
    var resources_app = new Vue({
      el: '#resources-app',
      delimiters: ['${', '}'],
      data: {
        message: 'Hello Vue!',
        resources: [],
        stage1: [],
        stage2: [],
        stage3: [],
        show_templates: true,
        show_guidelines: true,
        show_policies: true,
        show_tools: true,
        show_casestudies: true,
      },
      mounted: function () {
        this.getData();
      },filters: {
        classname: function (value) {
          if (!value) return ''
          value = value.toString()
          return value.replace(/\s+/g, '-').toLowerCase()
        },
        truncate: function(string) {
          // console.log('truncate: '+string.length);
          var len = 100;
          if (string.length > len){
            return string.substring(0, len) + '...';
          }
          return string;
        }
      },
      methods: {
        getData: function () {
          // console.log('Load resources')
           var self = this;
            // axios.get('https://pacificclimatechange.net/document-search-json?f[0]=field_tags:3142', {
            axios.get(theme_url+'js/resources.json', {
                //
              })
              .then(function (response) {
                    // console.log(response.data);
                    response.data.nodes.forEach(function(node, index) {
                       console.log(node.node);
                       // console.log(node.node.field_tags.indexOf('Concept Identification'));
                       if(node.node.field_tags.indexOf('Planning') >0){
                        self.stage1.push(node);
                       }
                       if(node.node.field_tags.indexOf('Accessing')>0){
                        self.stage2.push(node);
                       }
                       if(node.node.field_tags.indexOf('Design')>0){
                        self.stage3.push(node);
                       }

                    });
                
              })
              .catch(function (error) {
                console.log(error);
              });
        }
      }

    })
    </script>

  {% endblock %}
{% endif %}
